.menuWrapper {
 position: relative;
}

.menuIcon {
  font-size: 12px;
  color: #313131;
  cursor: pointer;
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
}

.contextMenu {
  position: absolute;
  width: 250px;
  background: #fff;
  z-index: 5;
  border: 1px solid #ddd;
  border-radius: 4px;
  top: -4px;
  left: 11px;
}
