@import "css/animations.css";

.menuWrapper {
}

.contextMenu {
  position: absolute;
  padding: 8px 0;
  width: 250px;
  background: var(--modal-bg);
  z-index: 5;
  box-shadow: 0 2px 20px var(--context-menu-shadow);
  border-radius: 4px;
}

.contextMenuActive {
  animation: maximize .2s ease-in;
}

.contextMenuDone {
  animation: minimize .2s ease-out;
}

.contextMenuItem {
  width: 100%;
  display: block;
  font-size: 13px;
  text-align: left;
  padding: 8px 16px;
}
