.infoBarButton {
  margin-right: 30px;
  margin-left: -5px;
}

.infoBarCollapseButton {
  margin-right: 10px;
  margin-left: -5px;
}

.navIcon {
  float: right;
  cursor: pointer;
  font-size: 20px;
  color: var(--text-navigation);
}

.infoBar {
  height: 50px;
  position: fixed;
  width: calc(100% - 240px);
  background: var(--sidebar);
  right: 0;
  transition: width .3s ease;
  display: flex;
  padding: 5px 15px;
  box-sizing: border-box;
  align-items: center;
  border-bottom: 1px solid var(--border);
  z-index: 3;
}

.infoBarFull {
  width: 100%;
}

.breadcrumbs {
  font-size: 12px;
  text-transform: uppercase;
  color: var(--text-navigation);
  font-weight: bold;
  letter-spacing: 0.5px;
}

.barOptions {
  margin-left: auto;
  font-size: 16px;
  color: var(--accent-color);
  display: flex;
}

.optionsMenu {
  left: -255px;
  top: 0;
}

.noteBackArrow {
  width: 30px;
  height: 30px;
  font-size: 16px;
}
