@import "css/animations.css";

.noteContainer {
  padding-right: 15px;
  animation: appear .3s ease-in;
}

.notes {
  display: grid;
  grid-gap: 15px 15px;
  flex-wrap: wrap;
  margin-top: 15px;
  padding-right: 10px;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  animation: appear .4s ease-in;
}

.contentActive {
  animation: appear .3s ease-in;
}

.contentDone {
  animation: disappear .3s ease-out;
}

.note {
  padding: 10px;
  border: 1px solid var(--border);
  border-radius: 4px;
  box-shadow: 0 11px 15px -7px var(--shadow2);

  word-break: break-word;

  &:hover {
    background: var(--note-highlight);
    .dragNoteIcon {
      visibility: visible;
    }
  }
}

.noteListTitle {
  font-size: 17px;
  font-weight: 500;
  padding-bottom: 5px;
  cursor: text;
  border-bottom: 1px solid #b3b3b3;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: var(--text);
}

.noteStatsListContainer {
  height: 140px;
  padding: 10px 0;
  box-sizing: border-box;
  font-size: 14px;
  margin-right: 5px;
  width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.6;

  &:hover {
    cursor: pointer;
  }
}

.noteStatsContainer {
  composes: noteStatsListContainer;
  height: auto;

  &:hover {
    cursor: initial;
  }
}

.noteControlsWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.noteControls {
  position: relative;
  display: flex;
}

.dragNoteIcon {
  color: var(--text-navigation);
  visibility: hidden;
  font-size: 12px;
  cursor: move;
}

.noteListActionMenu {
  font-size: 12px;
  color: var(--accent-color);
  top: -4px;
  left: 11px;
  width: 200px;
}

.noteTitle {
  font-size: 23px;
  width: 100%;
}

.noteHeader {
  display: flex;
  align-items: baseline;
}
