.input {
  padding: 10px 0;
  border: none;
  border-bottom: 1px solid var(--input-border);
  outline: none;
  width: 100%;
  box-sizing: border-box;
  background: transparent;
  color: var(--text);

  &:focus, &:hover {
    outline: none;
    border-color: var(--input-border-highlight);
  }

  &::-webkit-input-placeholder {
    color: var(--text-color);
    opacity: .4;
    font-size: 15px;
    text-align: start;
  }
}

.embeddedInput {
  color: var(--text);
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  width: 100%;
  background: inherit;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;

  &:focus {
    outline: none;
  }
}
