.passText {
  font-size: 14px;
  color: var(--text);
  transition: all .2s ease-in-out;
  opacity: .8;
}

.error {
  color: var(--danger-color);
}

.inputError {
  border-color: var(--danger-color);

  &:hover, &:focus {
    border-color: var(--danger-color);
  }
}

.passInput {
  width: 300px;
  display: block;
  margin-bottom: 20px;
}

.clearBtn {
  margin-top: 10px;
  margin-left: -5px;
}
