@import "css/animations.css";

.authPage {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 0 20%;
  background: var(--background);
}

.authPageActive {
  animation: dropIn .3s ease-in;
}

.authPageDone {
  animation: dropOut .3s ease-out;
}

.authContent {
  width: 400px;
  padding-top: 20%;
}

.authModal {
  box-shadow: 0 3px 5px var(--shadow2);
  border-radius: 4px;
  border: 1px solid var(--border);
  padding: 20px 40px;
  box-sizing: border-box;
}

.authForm {
  margin-top: 20px;
}

.centerElement {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.authIcon {
  position: relative;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  width: 60px;
  height: 60px;
  color: var(--accent-color);

  &::before {
    position: absolute;
    box-shadow: 0 0 15px var(--shadow-full);
    content: "";
    border-radius: 100%;
    background: var(--accent-color);
    width: 60px;
    height: 60px;
    opacity: .1;
  }
}

.authHeader {
  composes: centerElement;
  composes: authForm;
  color: var(--text);
  height: 30px;
  font-size: 23px;
}

.authButton {
  width: 100%;
  margin-top: 20px;
}

.authInput {
  width: 100%;
}

.forgot {
  margin-top: 15px;
  color: var(--text-navigation);
  font-size: 12px;
  cursor: pointer;
  display: flex;
  justify-content: center;

  &:hover {
    text-decoration: underline;
  }
}

.forgotMessageBlock {
  margin-top: 15px;
}

.forgotMessage {
  color: var(--text-navigation);
  font-size: 12px;
}
