.button {
  outline: none;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;

  &:active, &:focus {
    outline: none;
    border: none;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: .4;
  }
}

.block {
  display: block;
  padding: 7px 15px;

  &.info {
    background: #6a1384;
    color: #fff;
  }

  &.danger {
    background: transparent;
    color: #4c4c4c;
    border: 1px solid #4c4c4c;
  }
}

.link {
  display: inline;
  font-size: 15px;

  &:hover {
    text-decoration: underline;
  }

  &.info {
    color: #6a1384;
  }

  &.danger {
    color: #4c4c4c;
  }
}
