.section {
  margin-bottom: 20px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
  color: #545454;
}

.input {
  width: 300px;
  display: block;
  margin-bottom: 10px;
}

.error {
  margin: 10px 0;
  color: #ec2424;
  font-size: 16px;
}

.success {
  composes: error;
  color: #287500;
}

.encryptionButton {
  font-size: 15px;
  cursor: pointer;
  width: fit-content;

  color: #6a1384;

  &:hover {
    text-decoration: underline;
  }
}

.encryptionOffButton {
  composes: encryptionButton;
  color: #ec2424;
}

.encryptionModalButtons {
  display: flex;
}

.cancelBtn {
  margin-left: 10px;
}

.encMessage {
  min-width: 200px;
  margin-bottom: 20px;
}
