@import "css/animations.css";

.toastrWrapper {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 0 20px;
  z-index: 15;
}

.toastrItem {
  width: 250px;
  height: 60px;
  margin-bottom: 20px;
  background: #313235;
  color: #dcdcdc;
  box-sizing: border-box;
  padding: 30px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  box-shadow: 0 3px 5px rgba(15, 15, 16, .2);
  cursor: pointer;
}

.toastrActive {
  animation: dropIn .3s ease-in;
}

.toastrDone {
  animation: dropOut .3s ease-in;
}

.syncNotification {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 14;
  background: var(--background);
  color: var(--text);
  padding: 10px;
  border-radius: 12px;
  font-size: 15px;
  display: flex;
  align-items: center;
}

.syncIcon {
  margin-right: 10px;
  animation: rotate 1s infinite linear;
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
