@import "css/common.css";
@import "css/animations.css";

.settingsPage {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 7;
  font-size: 15px;
}

.settingPageActive {
  animation: dropIn .3s ease-in;
}

.settingPageDone {
  animation: dropOut .3s ease-in;
}

.closeButton {
  font-size: 20px;
  width: 40px;
  height: 40px;
  margin-bottom: 15px;
}

.settingsContent {
  display: flex;
  overflow: hidden;
}

.settingsNavigation {
  overflow-y: auto;
  width: 200px;
  height: 100vh;
  box-sizing: border-box;
  background: var(--sidebar);
}

.settingsItemPage {
  overflow-y: auto;
  width: 100%;
  padding: 20px 25px;
  height: 100vh;
  box-sizing: border-box;
  background: var(--background);
}
