.listsContainer {
  margin: 20px 0;
}

.listItem {
  margin-bottom: 30px;
  background: var(--list-background);
  border: 1px solid var(--border);
  padding: 15px;
  position: relative;
  border-radius: 4px;
}

.listBody {
  margin-top: 20px;
  max-height: 10000px;
  transition: max-height .3s ease, margin .3s ease;
}

.listMinimized {
  margin: 0;
  max-height: 0;
  overflow: hidden;
}

.listTitle {
  font-size: 17px;
  font-weight: 600;
  max-width: 90%;
  margin-left: 15px;
  color: var(--text);
}

.listHeader {
  display: flex;
  align-items: center;
}

.checkedItem {
  text-decoration: line-through;
  color: #a0a0a0;
}

.todoItem {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  padding: 5px 0;
  border: 1px solid transparent;
  border-left: none;
  border-right: none;
  position: relative;

  &:hover, &.focused {
    .itemHandleIcon, .itemRemoveIcon {
      visibility: visible;
    }
  }

  &.focused {
    border-color: #908a7d;
  }
}

.todoList {
  margin-top: 10px;
  order: 0;
}

.addTodoItem {
  order: 1;
  width: fit-content;
  font-size: 16px;
  margin-left: 14px;
}

.addTodoTop {
  order: 0;
}

.itemHandleIcon {
  cursor: move;
  font-size: 15px;
  margin-right: 8px;
  visibility: hidden;
  transform: rotate(90deg);
  opacity: .6;
  color: var(--text);
}

.listHandle {
  composes: itemHandleIcon;
  visibility: visible;
  font-size: 16px;
  display: inline-block;
}

.itemRemoveIcon {
  opacity: .5;
  cursor: pointer;
  font-size: 15px;
  margin-right: 15px;
  visibility: hidden;

  &:hover {
    opacity: 1;
  }
}

.todoListContainer {
  display: flex;
  flex-direction: column;
}

.listSettings {
  margin: 15px 0 30px;
  font-size: 14px;
  display: flex;
  align-items: center;
  color: var(--text);
}

.copyListButton {
  margin-left: 20px;
}

.removeList {
  font-size: 14px;
  cursor: pointer;
  opacity: .5;
}

.chevron {
  position: absolute;
  font-size: 20px;
  top: 11px;
  right: 13px;
  cursor: pointer;
}


.listStat {
  margin-bottom: 10px;
  font-size: 14px;
  color: var(--text);
  opacity: var(--stats-opactity);
}

.listStatNumber {
  font-weight: bold;
}
