.mainNavigation {
  width: 240px;
  z-index: 3;
  height: 100%;
  background: #f6f6f6;
  transition: width .3s ease;
  overflow-y: auto;
  flex-shrink: 0;
  box-sizing: border-box;
  border-right: 1px solid #ddd;
  display: flex;
  flex-direction: column;
}

.hideNavigation {
  width: 0;
}

.relative {
  position: relative;
}

.navIconContainer {
  min-height: 20px;
  position: absolute;
  right: 15px;
  top: 15px;
}

.infoBarIconContainer {
  margin-right: 30px;
}

.navIcon {
  float: right;
  cursor: pointer;
  font-size: 20px;
  color: #949494;
}

.archivedSection {
  margin-top: auto;
  cursor: pointer;
  font-size: 15px;
  color: #656565;
  padding: 10px 20px;
}

.archivedSectionActive {
  background: rgba(101,101,101,.2);
}

.userMenu {
  padding: 20px 15px;
  font-size: 15px;
  color: #333;
}
