@font-face {
  font-family: "Exo";
  src: url('../fonts/Exo-Thin.ttf') format("ttf");
  font-weight: 200;
}

@font-face {
  font-family: "Exo";
  src: url('../fonts/Exo-Light.ttf') format("ttf");
  font-weight: 300;
}


@font-face {
  font-family: "Exo";
  src: url('../fonts/Exo-Regular.ttf') format("ttf");
  font-weight: 400;
}


@font-face {
  font-family: "Exo";
  src: url('../fonts/Exo-Medium.ttf') format("ttf");
  font-weight: 500;
}


@font-face {
  font-family: "Exo";
  src: url('../fonts/Exo-SemiBold.ttf') format("ttf");
  font-weight: 600;
}


@font-face {
  font-family: "Exo";
  src: url('../fonts/Exo-Bold.ttf') format("ttf");
  font-weight: 700;
}


@font-face {
  font-family: "Exo";
  src: url('../fonts/Exo-ExtraBold.ttf') format("ttf");
  font-weight: 800;
}
