.folderItem {
  margin-bottom: 10px;
  padding: 5px 0;
  display: flex;

  &:hover {
    .folderMenuIcon {
      visibility: visible;
    }
  }
}

.folder {
  font-size: 14px;
  color: #800488;
  cursor: pointer;
  display: flex;

  &:hover {
    color: #c926d4;
  }
}

.active {
  background: #ebe9ec;
}

.folderList {
  margin-top: 25px;
}

.folderListInteractive {
  z-index: 7;
  position: absolute;
  background: #fff;
  width: 100%;
  max-height: 90vh;
  overflow-y: auto;
}

.folderIcon {
  margin-right: 5px;
}

.folderMenuIcon {
  font-size: 12px;
  margin-right: 5px;
  color: #867171;
  visibility: hidden;
}

.folderMenu {
  top: 20px;
  width: 200px;
  color: #6a1384;
  font-size: 15px;
}

.folderActionBtns {
  display: flex;
  margin-top: 10px;
}

.folderItemBtn {
  font-size: 12px;
  margin-right: 5px;
}

.actionBtn {
  margin-right: 5px;
}

.addFolderBody {
  margin: 15px 0;
}

.addFolderContainer {
  padding: 20px 15px;
}

.addFolderButton {
  font-size: 17px;
  color: #6a1384;
  cursor: pointer;
}

.removeConfirmationText {
  margin: 10px 0;
}
