@import "css/common.css";
@import "css/animations.css";

.folderItem {
  padding: 0 15px;
  composes: listItemWrapper;

  &:hover {
    .folderMenuIcon {
      visibility: visible;
    }
  }
}

.folder {
  composes: listItem;
  padding: 15px 0;
}

.newFolderActive {
  animation: maximize .25s ease-in;
}

.newFolderDone {
  animation: minimize .25s ease-out;
}

.active {
  composes: listItemActive;
}

.foldersList {
  padding: 10px 0;
}

.folderListInteractive {
  z-index: 7;
  position: absolute;
  background: var(--modal-bg);
  width: 99%;
  overflow-y: auto;
  max-height: 75vh;
  margin-bottom: 30px;
}

.folderMenuIcon {
  font-size: 12px;
  margin-right: 5px;
  color: var(--text);
  visibility: hidden;
}

.folderMenu {
  width: 200px;
  color: var(--accent-color);
  font-size: 15px;
}

.folderActionBtns {
  display: flex;
  margin-top: 10px;
}

.folderItemBtn {
  font-size: 12px;
  margin-right: 5px;
}

.actionBtn {
  margin-right: 5px;
}

.addFolderBody {
  margin: 15px 0;
}

.addFolderContainer {
  padding: 0 10px;
}

.removeConfirmationText {
  margin: 10px 0;
}

.listIcon {
  cursor: move;
}
